.form-container{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.form-input{
    display: flex;
    padding: 5px;
    margin: 5px;
    margin-top: 25px;
    margin-left: 15px;
}